* {
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #e7e7ec;
}

.element{
    width: 300px;
    height: 200px;
    margin: 20px auto;
    background-color: silver;
    border: 10px solid #000;
    /*border-radius: 100px 0 0 0;*/
    /*border-top-left-radius: 50px 100px;
    border-top-right-radius: 50px 100px;
    border-bottom-left-radius: 70px 30px;
    border-bottom-right-radius: 70px 30px;*/
    border-radius: 50px 50px 70px 70px / 100px 100px 30px 30px;
}

.element-img {
    width: 300px;
    height: 200px;
    background: url('../img/img.jpg') no-repeat;
    background-clip: padding-box;
    background-origin: border-box;
    margin: 20px auto;
    background-size: cover;
    border: 20px solid #000;      
    border-image-source: url('../img/border.png');
    border-image-slice: 27;
    border-image-repeat: round;
    border-image-outset: 20px;
}

.element-img2 {
    width: 300px;
    height: 200px;
    background: url('../img/img.jpg') no-repeat;
    background-clip: padding-box;
    background-origin: border-box;
    margin: 40px auto;
    background-size: cover;
    border: 20px solid #000;      
    border-image-source: url('../img/border2.png');
    border-image-slice: 40;
    border-image-repeat: repeat;
}